<header>
  <div id="navbar">
    <div class="logo">
      <a href="/"><img src="/images/logo-white.png"/></a>
    </div>
    <ul class="main-menu">
      <li id="nav-item-hover" class="nav-item hover">
        <a
          href="javascript:void(0);"
          id="about"
          class="hide-after"
          onclick="openCloseAbout(), closeMenus(this)"
          >About</a
        >
        <!-- The submenu for About is at the bottom of the header tag -->
      </li>
      <li class="nav-item hover"><a href="/blog/why-ros">Why ROS</a></li>
      <li class="nav-item hover"><a href="/blog/getting-started">Getting Started</a></li>
      <li class="nav-item hover"><a href="/blog/community">Community</a></li>
      <li class="nav-item hover"><a href="/blog/ecosystem">Ecosystem</a></li>
    </ul>
    <div id="dropdown-dots" onclick="openCloseDotsMenu(), closeMenus(this)">
      <img src="/images/dot.png" id="dot-top" class="dropdown-dot-top" />
      <img src="/images/dot.png" class="dropdown-dot-middle dot-1" />
      <img src="/images/dot.png" class="dropdown-dot-middle dot-2" />
      <img src="/images/dot.png" class="dropdown-dot-middle dot-3" />
      <img src="/images/dot.png" id="dot-bottom" class="dropdown-dot-bottom" />
    </div>
    <ul id="submenu-dots" class="hidden" onclick="closeMenus(this)">
      <%= render '/_submenu_dots.*' %>
    </ul>
    <div class="menu-blog-link"><a href="/blog/">Read the ROS blog</a></div>
  </div>
  <div id="submenu-about" class="hidden" onclick="closeMenus(this)">
    <%= render '/_submenu_about.*' %>
  </div>
</header>
