<div class="grid-mob-menu">
  <a class="twitter-icon" href="#"
    ><img src="/images/twitter-icon.svg"
  /></a>
  <a class="discourse-icon" href="#"
    ><img src="/images/discourse-icon.svg"
  /></a>
  <a class="github-icon" href="#"><img src="/images/github-icon.svg"/></a>
  <a class="mob-nav-item-1" href="/blog/">Blog</a>
  <a class="mob-nav-item-2" href="#">Wiki</a>
  <a class="mob-nav-item-3" href="#">About</a>
  <a class="mob-nav-item-4" href="#">contact</a>
</div>
<li class="sub-item">
  <a href="#">sub-item 1</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
<li class="sub-item">
  <a href="#">sub-item 1</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
<li class="sub-item">
  <a href="#">sub-item 1</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
<li class="sub-item">
  <a href="#">sub-item 2</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
<li class="sub-item">
  <a href="#">sub-item 3</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
<li class="sub-item">
  <a href="#">sub-item 4</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
<li class="sub-item">
  <a href="#">sub-item 5</a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore.
  </p>
</li>
