<ul>
  <li class="submenu-list">
    <a href="#" class="submenu-title">History</a>
  </li>
  <li class="submenu-list">
    <a href="#" class="submenu-title">What is ROS</a>
    <ul>
      <li><a href="#">Core ROS Capabilities</a></li>
      <li><a href="#">ROS Packages</a></li>
      <li><a href="#">Build Tools</a></li>
      <li><a href="#">Sibling Libraries</a></li>
      <li><a href="#">Community Resources</a></li>
    </ul>
  </li>
  <li class="submenu-list">
    <a href="#" class="submenu-title">TSC</a>
    <ul>
      <li><a href="#">Working Groups</a></li>
      <li><a href="#">Road Map</a></li>
      <li><a href="#">Contributors</a></li>
    </ul>
  </li>
  <li class="submenu-list">
    <a href="#" class="submenu-title">DISTROS</a>
  </li>
  <li class="submenu-list">
    <a href="#" class="submenu-title">LEGAL</a>
    <ul>
      <li><a href="#">Brand Guidelines</a></li>
      <li><a href="#">License</a></li>
    </ul>
  </li>
  <li class="submenu-list wide">
    <a href="#" class="submenu-title">How is ROS Developed</a>
  </li>
  <li class="submenu-list">
    <a href="#" class="submenu-title">Contact</a>
  </li>
</ul>
