@import "header-mobile-tablet";
@import "mobile-heights";
@import "colors";

@media screen and (max-width: 600px) {
  body {
    height: auto;
  }

  #submenu-about {
    display: none;
  }

  header #submenu-dots li a {
    text-align: right;
  }

  #main {
    margin-top: calc(#{0 - $header-height});
  }

  .content-wrapper {
    height: 100%;
    width: 100%;
  }

  .banner {
    background-image: url("/images/noetic-background.png");
    background-attachment: fixed;
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 135% 20%;
    grid-template-columns: 80% 20%;
    grid-template-rows: 45px 60px 20% auto;
    grid-column-gap: 10px;
    h1 {
      padding-top: 10px;
      margin-left: 10px;
      font-size: 60px;
      line-height: 60px;
      grid-column: 1 / 2;
      grid-row: 3 / 5;
      &::after {
        left: 5%;
        padding-top: 100px;
      }
    }
    p {
      font-size: 21px;
      padding-left: 20px;
      width: 335px;
      grid-row: 5 / 6;
    }
  }

  .banner-image {
    display: none;
  }

  .news-wrapper {
    height: 200px;
  }

  .news {
    margin-left: 0;
    padding: 0 0 15px 0;
    width: 100vw;
    border-radius: 10px;
    box-shadow: 1px 1px 1px $gray-light;
    h2 {
      color: $navy-darker;
      margin-top: 15px;
      margin-left: 30px;
    }
    p {
      padding-left: 25px;
      width: 335px;
    }
    .btn-event {
      margin: 0 auto;
      width: clamp(230px, 275px, 375px);
    }
  }

  .videos {
    padding-top: 0;
    h3 {
      width: 110px;
      text-align: center;
      overflow-y: hidden;
      font-weight: bolder;
      letter-spacing: -2px;
      &::after {
        display: none;
      }
    }
    .container-video {
      margin-top: 0;
      overflow-y: hidden;
    }
  }

  .owl-carousel.owl-drag .owl-item {
    overflow-y: visible;
  }

  .owl-item iframe {
    margin-top: 50px;
  }

  .owl-dots {
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    display: none;
  }
  .install {
    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: 90px 48% 41%;
    grid-column-gap: 0;
    padding-bottom: 50px;
    h3 {
      overflow-y: hidden;
      padding: 25px 0 20px 0;
      height: 30px;
      width: 60px;
      margin-left: 0;
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      justify-self: center;
    }
    h6 {
      padding: 0;
      overflow-y: hidden;
    }
    p {
      padding-top: 50px;
    }
    .install-text-1 {
      margin-top: 25px;
      z-index: 1;
      padding-left: 15px;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .release-img-1 {
      z-index: 0;
      margin-top: -50px;
      margin-left: -50px;
      transform: scale(0.8);
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }
    .btn-install-left {
      width: 80vw;
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      place-self: end;
      justify-self: center;
    }
    .divider-horizontal {
      display: none;
    }
    .install-text-2 {
      width: 150px;
      padding-top: 25px;
      padding-left: 15px;
      padding-right: 70px;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
    .release-img-2 {
      transform: scale(0.5);
      margin-top: -80px;
      grid-column: 3 / 5;
      grid-row: 3 / 4;
      justify-self: center;
    }
    .btn-install-right {
      align-self: start;
      margin: 0 5vw;
      width: 80vw;
      grid-column: 2 / 4;
      grid-row: 3 / 4;
      place-self: end;
      justify-self: center;
    }

    .install-text-1,
    .install-text-2 {
      h6 {
        margin-left: 10px;
      }
      p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .btn-install img {
      margin-top: -2.5px;
    }
  }
  .support {
    padding-bottom: 50px;
    h3 {
      border-bottom: 4px solid $orange;
      width: 80px;
      &::after {
        display: none;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      width: 300px;
      text-align: center;
    }

    .support-carousel-mob {
      display: block;
    }
    .support-grid {
      display: none;
    }

    #support-carousel {
      padding-top: 50px;
    }

    .owl-item {
      height: auto;
      padding: 0 7vw;
      overflow-y: auto;
    }

    .support-wiki {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10px;
    }
    .img-1 {
      height: 50px;
      padding-left: 15px;
    }
    .img-caption-1 {
      padding-top: 20px;
      font-size: 18px;
      width: auto;
    }
    .blurb-1 {
      padding-top: 20px;
      width: auto;
    }

    .support-ros-answers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10px;
    }
    .img-2 {
      height: 50px;
    }
    .img-caption-2 {
      width: auto;
      padding-top: 20px;
    }
    .blurb-2 {
      width: auto;
      padding-top: 20px;
    }

    .support-forums {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10px;
    }
    .img-3 {
      height: 50px;
    }
    .img-caption-3 {
      width: auto;
      padding-top: 20px;
    }
    .blurb-3 {
      width: auto;
      padding-top: 20px;
    }
  }
  .blog-newsletter {
    display: block;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;

    .blog-grid {
      display: block;
      width: 90%;
      margin: 0 auto;
      h4 {
        color: $navy-darker;
        width: auto;
      }
      .recent-post {
        padding-top: 0;
      }
      .recent-posts h1 {
        padding-bottom: 15px;
      }
    }

    .highlighted-post-title h1 {
      font-size: 22px;
      line-height: 22px;
      color: $navy-darker;
    }

    .highlighted-post-subtitle h2 {
      font-size: 16px;
      line-height: 16px;
      color: $navy-darker;
    }

    .highlighted-post-author-date h3 {
      line-height: 10px;
    }

    a.read-more {
      line-height: 30px;
    }

    .recent-posts {
      padding-top: 10px;
      .recent-post-author-date h3 {
        padding-top: 5px;
      }
    }

    .newsletter-signup {
      margin: 0 auto;
      grid-column-start: 2;
      grid-row-start: 3;
      h2 {
        font-size: 12px;
        font-weight: 700;
      }
      input {
        margin-left: 0;
        margin-bottom: 10px;
        height: 20px;
        overflow-y: visible;
        width: clamp(250px, 380px, 85vw);
        padding: 8px 0 8px 0;
        margin-left: 0;
      }
      .btn-subscribe {
        margin-left: 0;
        padding: 10px 0;
        border: 4px solid $aqua;
      }
    }
  }

  .footer-main {
    margin-top: 50px;
    padding-bottom: 15px;

    .logo {
      height: auto;
    }
    .footer-menu {
      margin-left: 15px;
    }
    .footer-menu ul {
      display: block;
      list-style: none;
      .link-home {
        display: none;
      }
      li {
        padding-bottom: 20px;
        text-align: left;
      }
    }
  }

  .footer-sub-menu {
    display: none;
  }

  .footer-submenu-mob {
    display: block;
    position: absolute;
    margin-top: -190px;
    right: 15px;
  }
  .footer-submenu-mob ul {
    display: block;
    list-style: none;
    text-align: right;
  }

  .footer-submenu-mob li {
    margin-bottom: 20px;
    a {
      color: $gray-light;
    }
  }

  .footer-sub {
    padding-bottom: 5px;
    overflow-y: visible;
    .legal {
      overflow-y: visible;
      p {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .banner {
    background-position: 150% 30%;
    grid-template-columns: 90% 10%;
    h1 {
      padding-top: 5px;
    }
    p {
      width: 300px;
    }
  }

  .news {
    h2,
    p {
      width: 90vw;
    }

    .btn-event {
      width: 70vw;
    }
  }

  .install .release-img-2 {
    transform: scale(0.4);
  }

  .blog-newsletter .newsletter-signup input {
    width: 250px;
    height: 25px;
  }

  .blog-newsletter .newsletter-signup .btn-subscribe {
    width: 254px;
  }
}

@media screen and (max-width: 992px) and (max-height: 450px) {
  .banner {
    background-size: 200px;
    background-position: 100% 200%;
    h1 {
      font-size: 60px;
      grid-row: 2 / 6;
    }
    p {
      width: 425px;
      grid-row: 4 / 6;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 500px) and (max-height: 450px) and (min-height: 200px) {
  .banner {
    background-size: 300px;
    background-position: 110% -50%;
  }

  .blog-newsletter {
    padding-left: 0;
    .blog-grid {
      grid-column-gap: 0;
      grid-template-columns: 300px 200px;
      .newsletter-signup .btn-subscribe {
        width: 184px;
      }
      .newsletter-signup input {
        width: 180px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .banner {
    background-size: 300px;
    background-position: 110% 30%;
    grid-template-columns: auto;
    h1 {
      font-size: 20vw;
      line-height: 20vw;
    }
  }

  .blog-newsletter .btn-subsribe {
    width: clamp(250px, 380px, 85vw);
  }
}
