@import "header-mobile-tablet";
@import "mobile-heights";
@import "colors";

@media screen and (max-width: 500px) {
  * {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
  }
  body {
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #submenu-about {
    display: none;
  }

  #main {
    position: static;
  }

  .content-wrapper {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .banner {
    top: $header-height;
    padding-left: 10px;
    background-image: url("/images/noetic-background.png");
    background-attachment: fixed;
    background-size: 210px;
    background-repeat: no-repeat;
    background-position: 115% 15%;
    height: $banner-height;
    grid-template-columns: 80% 20%;
    grid-template-rows: 45px 60px 20% auto;
    grid-column-gap: 10px;
    h1 {
      padding-top: 10px;
      overflow-x: visible;
      overflow-y: hidden;
      margin-left: 10px;
      font-size: 60px;
      line-height: 60px;
      grid-column: 1 / 2;
      grid-row: 3 / 5;
      &::after {
        left: 5%;
        padding-top: 100px;
      }
    }
    p {
      font-size: 21px;
      padding-top: 10px;
      padding-left: 20px;
      width: 335px;
      grid-row: 5 / 6;
    }
  }

  .banner-image {
    display: none;
  }

  .news {
    top: calc(#{$header-height + $banner-height - 50px});
    height: $news-height;
    margin-left: 0;
    padding: 0;
    padding-bottom: 15px;
    width: 100vw;
    border-radius: 10px;
    box-shadow: 1px 1px 1px $gray-light;
    overflow-y: hidden;
    z-index: 1;
    h2 {
      color: $navy-darker;
      margin-top: 15px;
      margin-left: 30px;
    }
    p {
      margin-left: 30px;
      width: 335px;
    }
    .btn-event {
      margin: 0 auto;
      width: clamp(230px, 275px, 375px);
    }
  }

  .videos {
    height: $video-height;
    top: calc(#{$banner-height + $news-height - 50px});
    overflow-y: hidden;
    padding-right: 1px;
    h3 {
      width: 50vw;
      text-align: center;
      overflow-y: hidden;
      font-weight: bolder;
      letter-spacing: -2px;
      &::after {
        margin-left: -115px;
      }
    }
    .container-video {
      height: #{$video-height - 100px};
      margin-top: 0;
      overflow-y: hidden;
    }
  }

  .owl-carousel.owl-drag .owl-item {
    overflow-y: visible;
  }

  .owl-item iframe {
    margin-top: 50px;
  }

  .owl-dots {
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    display: none;
  }
  .install {
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height}
    );
    height: $install-height;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px 2fr 1fr 2fr 1fr;
    grid-column-gap: 5px;
    h3 {
      overflow-y: hidden;
      padding: 25px 0 20px 0;
      height: 30px;
      width: 85px;
      margin-left: 50px;
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
    h6 {
      padding: 0;
      overflow-y: hidden;
    }
    p {
      padding-top: 50px;
    }
    .install-text-1 {
      overflow-y: hidden;
      margin-top: 25px;
      z-index: 1;
      padding-left: 15px;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .release-img-1 {
      z-index: 0;
      position: absolute;
      top: -40px;
      left: -40px;
      transform: scale(0.75);
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }
    .btn-install-left {
      align-self: center;
      margin: 0 5vw;
      margin-top: 50px;
      width: 80vw;
      grid-column: 1 / 4;
      grid-row: 3 / 3;
    }
    .divider-horizontal {
      display: none;
    }
    .install-text-2 {
      width: 150px;
      padding-top: 25px;
      padding-left: 15px;
      padding-right: 70px;
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }
    .release-img-2 {
      position: absolute;
      top: -80px;
      left: -105px;
      transform: scale(0.5);
      grid-column: 3 / 5;
      grid-row: 4 / 5;
    }
    .btn-install-right {
      align-self: start;
      margin: 0 5vw;
      width: 80vw;
      grid-column: 1 / 5;
      grid-row: 5 / 6;
    }

    .install-text-1,
    .install-text-2 {
      h6 {
        margin-left: 10px;
      }
      p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .support {
    height: $support-height;
    padding-right: 1px;
    overflow-y: hidden;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height}
    );
    h3 {
      width: 110px;
      &::after {
        margin-top: 0;
        margin-left: -100px;
      }
    }
    p {
      font-size: 16px;
      width: 300px;
      text-align: center;
    }

    .support-carousel-mob {
      display: block;
    }
    .support-grid {
      display: none;
    }

    #support-carousel {
      padding-top: 50px;
    }

    .owl-item {
      height: auto;
      padding: 0 7vw;
      overflow-y: auto;
    }

    .support-wiki {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10px;
    }
    .img-1 {
      height: 50px;
      padding-left: 15px;
    }
    .img-caption-1 {
      padding-top: 20px;
      font-size: 18px;
      width: auto;
    }
    .blurb-1 {
      padding-top: 20px;
      width: auto;
    }

    .support-ros-answers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10px;
    }
    .img-2 {
      height: 50px;
    }
    .img-caption-2 {
      width: auto;
      padding-top: 20px;
    }
    .blurb-2 {
      width: auto;
      padding-top: 20px;
    }

    .support-forums {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 10px;
    }
    .img-3 {
      height: 50px;
    }
    .img-caption-3 {
      width: auto;
      padding-top: 20px;
    }
    .blurb-3 {
      width: auto;
      padding-top: 20px;
    }
  }
  .blog-newsletter {
    display: block;
    overflow-y: visible;
    height: $blog-newsletter-height;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 25px;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height}
    );

    .blog-grid {
      display: block;
      width: 90%;
      h4 {
        color: $navy-darker;
      }
    }

    .highlighted-post-title h1 {
      font-size: 22px;
      overflow-y: visible;
    }

    .highlighted-post-subtitle h2 {
      overflow-y: visible;
      font-size: 18px;
      color: $navy-darker;
    }
    .highlighted-post-content p {
      overflow-y: visible;
    }

    a.read-more {
      line-height: 30px;
      overflow-y: visible;
    }

    .recent-posts {
      padding-top: 10px;
    }

    .newsletter-signup {
      margin-left: 2.5vw;
      overflow-y: visible;
      white-space: pre-line;
      grid-column-start: 2;
      grid-row-start: 3;
      h2 {
        font-size: 12px;
        font-weight: 700;
      }
      input {
        margin-left: 0;
        margin-bottom: 10px;
        height: 20px;
        overflow-y: visible;
        width: clamp(250px, 380px, 85vw);
        padding: 8px 0 8px 0;
        margin-left: 0;
      }
      .btn-subscribe {
        margin-left: 0;
        width: clamp(250px, 400px, 86vw);
        padding: 10px 0;
        border: 4px solid $aqua;
      }
    }
  }
  footer {
    overflow-y: hidden;
  }

  .footer-main {
    height: $footer-main-height;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height + $blog-newsletter-height}
    );
    .logo {
      height: auto;
    }
    .footer-menu ul {
      display: block;
      list-style: none;
      margin-left: 20px;
      .link-home {
        display: none;
      }
      li {
        padding-bottom: 20px;
        text-align: left;
      }
    }
  }

  .footer-sub-menu {
    display: none;
  }

  .footer-submenu-mob {
    position: absolute;
    margin-top: -168px;
    left: -20px;
  }
  .footer-submenu-mob ul {
    display: block;
    list-style: none;
    text-align: right;
  }

  .footer-submenu-mob li {
    margin-bottom: 20px;
    a {
      color: $gray-light;
    }
  }

  .footer-sub {
    height: $subfooter-height;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height + $blog-newsletter-height +
        $footer-main-height}
    );
    padding-right: 1px;
    padding-bottom: 5px;
    overflow-y: visible;
    .legal {
      overflow-y: visible;
      p {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) and (min-width: 375px) {
  .banner {
    grid-template-rows: 45px 60px 25% auto;
    h1 {
      font-size: 70px;
    }
  }
}

@media screen and (max-width: 330px) {
  .banner {
    background-position: 115% 25%;
    grid-template-columns: 90% 10%;
    h1 {
      padding-top: 5px;
    }
    p {
      width: 275px;
    }
  }

  .news {
    top: calc(#{$header-height + $banner-height - 50px});
    height: $news-height;
    h2 {
      margin-left: 20px;
    }
    p {
      margin-left: 20px;
      width: 260px;
    }
    .btn-event {
      width: 230px;
    }
  }

  .install .release-img-2 {
    transform: scale(0.4);
  }

  .blog-newsletter .newsletter-signup input {
    width: 250px;
    height: 25px;
  }

  .blog-newsletter .newsletter-signup .btn-subscribe {
    width: 268px;
  }

  .footer-main {
    height: $footer-main-height;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height + $blog-newsletter-height + 100px}
    );
  }

  .footer-sub {
    height: $subfooter-height;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height + $blog-newsletter-height +
        $footer-main-height + 100px}
    );
  }
}
