$header-height: 45px;
$banner-height: 800px;
$news-height: 225px;
$video-height: 375px;
$install-height: 890px;
$support-height: 475px;
$blog-newsletter-height: 950px;
$footer-main-height: 300px;
$subfooter-height: 75px;
$total-footer-height: calc(#{$footer-main-height + $subfooter-height});
