@import "colors";
$header-height: 90px;
$description-header-height: 300px;

.page-wrapper {
  padding-top: $header-height;
  background-color: $white;
  h1,
  h2 {
    color: $navy-darker;
  }
  h3 {
    width: unset;
    color: $black;
    padding-bottom: 5px;
    &::after {
      display: none;
    }
  }
  p {
    color: $gray-dark;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    padding: 15px 0 15px 0;
  }
}

.description-grid-main {
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 75px;
  display: grid;
  grid-template-columns: auto 50% 25% auto;
  grid-template-rows: 1fr auto;
  grid-column-gap: 30px;
}

.bg-header-robot {
  height: $description-header-height;
  padding-top: 5%;
  background-image: url("/images/rover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 11%;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  h1 {
    color: $white;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.65);
    z-index: 2;
    padding-top: 5%;
    padding-left: 10%;
    width: 700px;
  }
  h2 {
    color: $white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 24px;
    padding-top: 15px;
    padding-left: 10%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.65);
  }
}

.description-main-content {
  padding-top: 5%;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  background-color: $white;
  h3 + * {
    padding-top: 0.5em;
    padding-bottom: 2em;
  }
}

.description-main-content ul {
  list-style: none;
  li {
    padding-top: 0.5em;
  }
}
.description-main-content .image-large img {
  max-width: 100%;
  grid-column: 2 / 3;
}

.list-links {
  list-style: none;
  a {
    font-size: 18px;
    line-height: 1.4;
    color: $aqua;
    text-decoration: underline;
  }
}
.page-wrapper p.subtitle {
  font-size: 12px;
  line-height: 1.2;
  font-style: italic;
  padding-top: 0;
}

.description-sidebar {
  padding-left: 15px;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-top: 5px;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: $gray-lighter;
  h1 {
    height: 50px;
    max-width: 330px;
    font-size: 24px;
    letter-spacing: 0;
    font-weight: 500;
    color: $black;
  }
  h2 {
    color: $black;
    font-size: 14px;
    line-height: 19px;
    &:hover {
      text-decoration: underline;
    }
  }
  h3 {
    font-size: 12px;
    line-height: 16px;
    color: $gray-light;
    padding-top: 0;
    font-style: italic;
  }
}

.tags-wrapper-sidebar {
  margin-left: 5%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 767px) {
  .bg-header-robot {
    height: 30vh;
    background-position: 20% -5%;
    h1 {
      font-size: 60px;
      line-height: 60px;
      width: 67vw;
      padding-top: 15px;
      padding-left: 15px;
    }
    h2 {
      width: 90vw;
      font-size: 22px;
      line-height: 24px;
      padding-top: 15px;
      padding-left: 15px;
    }
  }

  .description-grid-main {
    padding-bottom: 0;
  }

  .description-main-content {
    display: block;
    width: 85vw;
    margin: 0 auto;
  }

  .description-main-content .image-large {
    padding: 0;
    margin-left: -8vw;
    width: 100vw;
  }

  .recent-post {
    padding-left: 10px;
  }
  .description-sidebar {
    display: none;
  }
}

@media screen and (max-width: 993px) and (min-width: 450px) {
  .page-wrapper {
    padding-top: 0;
  }
  .bg-header-robot {
    height: 60vh;
    padding-left: 7%;
    h1 {
      width: 67vw;
      padding-top: 40%;
      padding-left: 15px;
    }
    h2 {
      width: 67vw;
      font-size: 22px;
      line-height: 24px;
      padding-top: 15px;
      padding-left: 15px;
    }
  }

  .description-grid-main {
    padding: 0;
  }
}
@media screen and (max-width: 449px) {
  .description-grid-main {
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .bg-robot-r2 {
    h1 {
      font-size: 50px;
      line-height: 50px;
      width: 75vw;
    }
  }

  .description-main-content {
    grid-column: 1 / 4;
    width: 90vw;
    padding-left: 15px;
  }
}
