$background-color: rgba(21, 37, 62, 1);
$white: rgba(255, 255, 255, 1);

* {
  font-family: Interstate, Arial;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

header {
  background-color: $background-color;
  color: $white;
  height: 90px;
  width: 100%;
  h1 {
    color: $white;
  }
  #navbar {
    height: 90px;
    width: 100%;
    display: flex;
    .logo {
      width: 30%;
      .logo-image-dots {
        padding-top: 25px;
        padding-left: 75px;
        width: 50px;
        height: 50px;
      }
      .logo-dot {
        width: 13px;
        height: 13px;
      }
      .logo-text {
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        height: 80px;
        width: 20%;
        margin-left: 130px;
        font-size: 70px;
      }
    }
    ul.main-menu {
      text-transform: uppercase;
      width: 100%;
      font-size: 14px;
      margin-left: 10%;
      margin-right: 10%;
      list-style: none;
      display: flex;
    }
    li.nav-item {
      height: 14px;
      padding-top: 60px;
      a {
        color: $white;
        justify-content: center;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    #dropdown-dots {
      position: absolute;
      top: 45px;
      width: 40px;
      height: 40px;
      font-size: 10px;
      .dropdown-dot-top,
      .dropdown-dot-bottom {
        padding-right: 15px;
        padding-left: 15px;
        width: 5px;
        height: 5px;
      }
      .dropdown-dot-middle {
        padding-left: 4px;
        width: 5px;
        height: 5px;
      }
      &:hover {
        .dropdown-dot-top,
        .dropdown-dot-bottom {
          display: none;
        }
        .dropdown-dot-middle {
          padding-top: 15px;
        }
      }
    }
  }
}

#main {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 500px;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  ul,
  ol {
    margin: 20px;
  }

  li {
    font-size: 15px;
    line-height: 20px;
  }

  ul li {
    list-style-type: square;
  }
}
