* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;
  width: 500px;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  ul,
  ol {
    margin: 20px;
  }

  li {
    font-size: 15px;
    line-height: 20px;
  }

  ul li {
    list-style-type: square;
  }
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;

  h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
  }

  ul {
    list-style-type: none;
    margin: 20px 0;
  }

  li {
    font-size: 14px;
    line-height: 20px;
  }
}
