$header-height: 90px;
$background-color: rgba(21, 37, 62, 1);
$dropdown-background: #74c4b7;
$submenu-underline: #fb9401;
$white: rgba(255, 255, 255, 1);

* {
  font-family: Interstate, Arial;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

header {
  background-color: $background-color;
  color: $white;
  height: $header-height;
  width: 100%;
  h1 {
    color: $white;
  }
  #navbar {
    height: $header-height;
    width: 100%;
    display: flex;
    .logo {
      padding-top: 25px;
      padding-bottom: 5px;
      margin-left: 10%;
      width: 189px;
      img {
        width: 189px;
        height: calc(#{$header-height} - 40px);
      }
    }
    ul.main-menu {
      text-transform: uppercase;
      width: 100%;
      font-size: 14px;
      margin-left: 5%;
      margin-right: 10%;
      list-style: none;
      display: inline-flex;
      justify-content: space-between;
    }
    li.nav-item.wide-text {
      padding-left: 18px;
      padding-right: 18px;
    }
    li.nav-item {
      height: 14px;
      text-align: center;
      white-space: nowrap;
      padding-top: 60px;
      a {
        font-weight: 700;
        color: $white;
        justify-content: center;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    #submenu-dots {
      list-style: none;
      height: 550px;
      width: 250px;
      background-color: $dropdown-background;
      position: absolute;
      top: 90px;
      right: 12.5%;
      padding: 20px;
    }

    #submenu-dots li {
      height: 20%;
      padding-bottom: 10px;
    }

    #submenu-dots li a {
      display: flex;
      justify-content: flex-end;
      height: 30px;
    }

    #submenu-dots li a::after {
      content: url("images/submenu-underline.png");
      width: 50px;
      height: 5px;
      position: absolute;
      padding-top: 15px;
      border-bottom: solid;
      border-color: $submenu-underline;
    }

    #submenu-dots p {
      white-space: normal;
      font-style: italic;
      font-size: 12px;
      text-align: right;
      text-transform: none;
      line-height: 14px;
    }

    li.nav-item.dropdown:hover {
      #submenu-dots li {
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    #dropdown-dots {
      white-space: normal;
      position: absolute;
      top: 45px;
      padding-left: 30px;
      width: 40px;
      height: 40px;
      font-size: 10px;
      .dropdown-dot-top,
      .dropdown-dot-bottom {
        padding: 2px 20px 2px 20px;
        width: 5px;
        height: 5px;
      }
      .dropdown-dot-middle {
        padding-left: 5px;
        width: 5px;
        height: 5px;
      }
    }
  }
}

#main {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 500px;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  ul,
  ol {
    margin: 20px;
  }

  li {
    font-size: 15px;
    line-height: 20px;
  }

  ul li {
    list-style-type: square;
  }
}
