$header-height: 90px;
$background-color: rgba(21, 37, 62, 1);
$dropdown-background: #74c4b7;
$submenu-underline: #fb9401;
$white: rgba(255, 255, 255, 1);

* {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

body {
  background: $white;
  background: $background-color;
}

a {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

header {
  background-color: $background-color;
  color: $white;
  height: $header-height;
  width: 100%;
  h1 {
    color: $white;
  }
  #navbar {
    height: $header-height;
    width: 100%;
    display: flex;
    .logo {
      padding-top: 25px;
      padding-bottom: 5px;
      margin-left: 10%;
      width: 189px;
      img {
        width: 189px;
        height: calc(#{$header-height} - 40px);
      }
    }
    ul.main-menu {
      text-transform: uppercase;
      width: 100%;
      font-size: 14px;
      margin-left: 5%;
      margin-right: 10%;
      list-style: none;
      display: inline-flex;
      justify-content: space-between;
    }
    li.nav-item.wide-text {
      padding-left: 18px;
      padding-right: 18px;
    }
    li.nav-item {
      height: 14px;
      text-align: center;
      white-space: nowrap;
      padding-top: 60px;
      a {
        font-weight: 700;
        color: $white;
        justify-content: center;
      }
    }

    #dropdown-dots {
      white-space: normal;
      position: absolute;
      top: 45px;
      padding-left: 30px;
      width: 40px;
      height: 40px;
      font-size: 10px;
      .dropdown-dot-top,
      .dropdown-dot-bottom {
        padding: 0px 20px 0px 20px;
        width: 5px;
        height: 5px;
      }
      .dropdown-dot-middle {
        padding: 0 0 0 5px;
        width: 5px;
        height: 5px;
      }
    }
  }
  #submenu-about::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid $white;
    position: absolute;
    top: calc(#{$header-height} - 5px);
    left: calc(15% + 222px);
  }

  #submenu-about {
    z-index: 0;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 15%;
    width: 90%;
    height: 250px;
    background-color: $white;
    border-radius: 25px;
  }

  #submenu-about ul {
    list-style: none;
    height: 200px;
    display: inline-flex;
  }

  #submenu-about ul li {
    margin: 15px;
    width: 150px;
    justify-content: space-around;
  }

  a.submenu-title {
    margin: 20px;
    text-transform: uppercase;
    color: $dropdown-background;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: $submenu-underline 0.25em solid;
  }

  #submenu-about ul li ul {
    display: block;
  }

  #submenu-about ul li ul li {
    height: 20px;
    width: 100px;
  }

  #submenu-about ul li ul li a {
    color: $background-color;
    text-decoration: underline;
    font-size: 12px;
  }

  #submenu-about li.submenu-list.wide {
    width: 250px;
  }

  #submenu-dots {
    list-style: none;
    height: 550px;
    width: 250px;
    background-color: $dropdown-background;
    position: absolute;
    top: 90px;
    right: 12.5%;
    padding: 20px;
  }

  #submenu-dots li {
    height: 20%;
    padding-bottom: 10px;
  }

  li.nav-item #submenu-dots li a {
    display: flex;
    justify-content: flex-end;
    height: 30px;
  }

  #submenu-dots li a::after {
    content: url("images/submenu-underline.png");
    width: 50px;
    height: 5px;
    position: absolute;
    padding-top: 15px;
    border-bottom: solid;
    border-color: $submenu-underline;
  }

  #submenu-dots p {
    white-space: normal;
    font-style: italic;
    font-size: 12px;
    text-align: right;
    text-transform: none;
    line-height: 14px;
  }

  li.nav-item.dropdown:hover {
    #submenu-dots li {
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

#main {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 500px;
  z-index: -1;
  background-color: $background-color;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  ul,
  ol {
    margin: 20px;
  }

  li {
    font-size: 15px;
    line-height: 20px;
  }

  ul li {
    list-style-type: square;
  }
}
