@import "tablet-heights";
@import "colors";

@media screen and (max-width: 1100px) and (min-width: 601px) {
  @import "header-mobile-tablet";

  #submenu-about {
    display: none;
  }

  #main {
    position: static;
  }

  .banner {
    padding-bottom: 175px;
    background-image: url("/images/noetic-background.png");
    background-attachment: fixed;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 100% 15%;
    grid-template-columns: 60% 25%;
    grid-template-rows: repeat(8, 1fr);
    h1 {
      overflow-x: auto;
      overflow-y: hidden;
      font-size: clamp(25px, 80px, 90px);
      grid-row: 3 / 6;
      &::after {
        left: 5%;
      }
    }
    p {
      font-weight: 400;
      padding-top: 10px;
      padding-left: 10px;
      width: 335px;
      grid-row: 6 / 9;
    }
  }

  .banner-image {
    display: none;
  }

  .news {
    background-color: $white;
    margin-left: 10%;
    height: $news-height;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px $gray-light;
    z-index: 1;
    h2 {
      color: $navy-darker;
    }
    p {
      padding-bottom: 15px;
    }
  }

  .videos {
    padding-top: 80px;
    h3 {
      width: 50vw;
      text-align: center;
      overflow-y: hidden;
      font-weight: bolder;
      letter-spacing: -2px;
      &::after {
        margin-left: -115px;
      }
    }
    .container-video {
      margin-top: 0;
      overflow-y: hidden;
    }
  }

  .owl-carousel.owl-drag .owl-item {
    overflow-y: visible;
  }

  .owl-item iframe {
    margin-top: 50px;
  }

  .owl-dots {
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    display: none;
  }
  .install {
    margin: 0 auto;
    grid-template-columns: 175px 175px 25px 175px 175px;
    grid-template-rows: 90px 1fr 0.25fr;
    grid-column-gap: 0;
    h3 {
      margin-left: 0;
      overflow-y: hidden;
      padding: 25px 0 20px 0;
      margin-left: 50px;
      height: 30px;
      width: 60px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    h6 {
      padding: 0;
      overflow-y: hidden;
    }
    p {
      padding-top: 50px;
    }
    .install-text-1 {
      overflow-y: hidden;
      margin-top: 25px;
      z-index: 1;
      padding-left: 15px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .release-img-1 {
      z-index: 0;
      margin-top: -50px;
      margin-left: -50px;
      transform: scale(0.75);
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .btn-install-left {
      align-self: start;
      margin: 0 5vw;
      margin-top: 0;
      width: 33vw;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      place-self: end;
      justify-self: center;
    }
    .divider-horizontal {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      border-right: 5px solid $orange;
    }
    .install-text-2 {
      width: 150px;
      padding-top: 25px;
      padding-left: 15px;
      padding-right: 70px;
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
    .release-img-2 {
      margin-top: -80px;
      margin-left: -115px;
      transform: scale(0.5);
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }
    .btn-install-right {
      align-self: start;
      margin-left: 30px;
      width: 33vw;
      grid-column: 4 / 6;
      grid-row: 2 / 3;
      place-self: end;
      justify-self: center;
    }

    .install-text-1,
    .install-text-2 {
      h6 {
        margin-left: 10px;
      }
      p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .btn-install img {
    margin-top: -5px;
  }
  .support {
    overflow-y: hidden;
    h3 {
      width: 110px;
      &::after {
        margin-top: 0;
        margin-left: -100px;
      }
    }
    p {
      font-size: 16px;
      width: 500px;
      text-align: center;
    }
    .support-carousel-mob {
      display: none;
    }

    .support-grid {
      display: grid;
      grid-template-columns: repeat(3, 175px);
      grid-template-rows: 150px 50px 100px;
      background-color: $white;
      grid-column-gap: 75px;
      justify-content: center;
      p {
        text-align: center;
        font-size: 18px;
        width: unset;
      }
      strong {
        text-align: center;
      }
      img {
        margin-top: 0;
      }
    }

    .img-1 {
      transform: scale(0.4);
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .img-caption-1 {
      font-size: 22px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: unset;
    }
    .blurb-1 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .img-2 {
      transform: scale(0.4);
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .img-caption-2 {
      font-size: 22px;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .blurb-2 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .img-3 {
      align-self: start;
      transform: scale(0.4);
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .img-caption-3 {
      font-size: 22px;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    .blurb-3 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      padding-right: 10px;
    }
  }

  .blog-newsletter {
    display: block;
    overflow-y: visible;

    .blog-grid {
      height: 100%;
      display: grid;
      grid-template-columns: 400px 300px;
      grid-template-rows: 50px 225px 250px;
      grid-gap: 30px;
      justify-content: center;
      padding-top: 10px;
      h4 {
        height: 50px;
        width: 500px;
        margin-top: 35px;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -1px;
      }
      .block-post-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .highlighted-post {
        overflow-y: visible;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
      }
      .highlighted-post-title,
      .highlighted-post-subtitle,
      .highlighted-post-author-date {
        height: 30px;
      }

      .highlighted-post-title h1,
      .recent-posts h1 {
        font-size: 18px;
        font-weight: 700;
      }

      .highlighted-post-subtitle h2 {
        font-size: 16px;
        font-weight: 400;
      }

      .recent-post-title h2 {
        font-size: 12px;
        font-weight: 700;
      }

      .highlighted-post-author-date h3,
      .recent-post-author-date h3 {
        padding-top: 0;
        font-size: 12px;
        font-style: italic;
        color: $gray-light;
        &::after {
          display: none;
        }
        margin-left: 0 auto;
      }
      .highlighted-post-content {
        height: auto;

        p {
          line-height: 25px;
        }
      }
      .recent-posts {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        a {
          color: $black;
          font-size: 13px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .recent-post {
        padding: 15px;
      }

      a.read-more {
        color: $aqua;
        text-decoration: underline;
        text-transform: uppercase;
      }
      a.blog-archives {
        color: $aqua;
        text-decoration: underline;
        text-transform: capitalize;
        padding-left: 15px;
      }

      .newsletter-signup {
        white-space: pre-line;
        grid-column-start: 2;
        grid-row-start: 3;
        h2 {
          font-size: 12px;
          font-weight: 700;
        }
        input {
          margin-bottom: 10px;
          width: clamp(50px, 240px, 300px);
          padding: 8px 0 8px 0;
        }
        input::placeholder {
          color: $gray-light;
          font-style: italic;
          font-size: 12px;
          text-align: center;
        }
        .btn-subscribe {
          width: clamp(50px, 245px, 300px);
        }
      }
    }
  }

  .footer-main .logo {
    height: auto;
  }

  .footer-submenu-mob {
    display: none;
  }

  .footer-sub {
    .footer-sub-menu ul {
      margin-left: 20px;
      margin-right: 20px;
    }
    .footer-sub-menu li a {
      font-size: 13px;
    }
    .legal {
      display: block;
      p {
        width: unset;
      }
    }
  }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .banner h1::after {
    left: 7%;
  }
  .banner p {
    width: unset;
    grid-row: 7 / 9;
  }

  .install {
    grid-gap: 50px;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .blog-newsletter .blog-grid {
    grid-column-gap: 5px;
    grid-template-columns: 375px 200px;
  }
}
@media screen and (max-width: 700px) and (min-width: 601px) {
  .blog-newsletter .blog-grid .newsletter-signup {
    input {
      max-width: 200px;
    }
    .btn-subscribe {
      max-width: 206px;
    }
  }
}
