$header-height: 45px;
$banner-height: 900px;
$video-height: 375px;
$install-height: 500px;
$support-height: 475px;
$blog-newsletter-height: 550px;
$footer-main-height: 150px;
$subfooter-height: 75px;
$total-footer-height: calc(#{$footer-main-height + $subfooter-height});
