@import "tablet-heights";
@import "colors";

@media screen and (max-width: 992px) and (min-width: 500px) {
  * {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
  }
  body {
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

  @import "header-mobile-tablet";

  #submenu-about {
    display: none;
  }

  #main {
    position: static;
  }

  .content-wrapper {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .banner {
    top: $header-height;
    margin-left: 40px;
    background-image: url("/images/noetic-background.png");
    background-attachment: fixed;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 110% 20%;
    height: $banner-height;
    grid-template-columns: 2fr 0.75fr;
    grid-template-rows: repeat(8, 1fr);
    h1 {
      overflow-x: auto;
      overflow-y: hidden;
      font-size: clamp(25px, 80px, 90px);
      grid-row: 3 / 6;
      &::after {
        left: 5%;
      }
    }
    p {
      font-weight: 400;
      padding-top: 10px;
      padding-left: 10px;
      width: 335px;
      grid-row: 6 / 9;
    }
  }

  .banner-image {
    display: none;
  }

  .news {
    position: absolute;
    top: calc(#{$header-height + $banner-height - 90px});
    background-color: $white;
    margin-left: 10%;
    height: $news-height;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px $gray-light;
    z-index: 1;
    h2 {
      color: $navy-darker;
    }
    p {
      padding-bottom: 15px;
    }
  }

  .videos {
    height: $video-height;
    top: calc(#{$header-height + $banner-height});
    overflow-y: hidden;
    padding-right: 1px;
    padding-top: 80px;
    h3 {
      width: 50vw;
      text-align: center;
      overflow-y: hidden;
      font-weight: bolder;
      letter-spacing: -2px;
      &::after {
        margin-left: -115px;
      }
    }
    .container-video {
      height: #{$video-height - 100px};
      margin-top: 0;
      overflow-y: hidden;
    }
  }

  .owl-carousel.owl-drag .owl-item {
    overflow-y: visible;
  }

  .owl-item iframe {
    margin-top: 50px;
  }

  .owl-dots {
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    display: none;
  }
  .install {
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height}
    );
    height: $install-height;
    max-width: 768px;
    padding-top: 50px;
    grid-template-columns: 22.5% 22.5% 1% 22.5% 22.5%;
    grid-template-rows: 90px 0.8fr 10%;
    grid-column-gap: 5px;
    h3 {
      margin-left: 0;
      overflow-y: hidden;
      padding: 25px 0 20px 0;
      margin-left: 25px;
      height: 30px;
      width: 85px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    h6 {
      padding: 0;
      overflow-y: hidden;
    }
    p {
      padding-top: 50px;
    }
    .install-text-1 {
      overflow-y: hidden;
      margin-top: 25px;
      z-index: 1;
      padding-left: 15px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .release-img-1 {
      z-index: 0;
      position: absolute;
      top: -40px;
      left: -40px;
      transform: scale(0.75);
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .btn-install-left {
      align-self: start;
      margin: 0 5vw;
      margin-top: 0;
      width: 33vw;
      grid-column: 1 / 2;
      grid-row: 3 / 3;
    }
    .divider-horizontal {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      border-right: 5px solid $orange;
    }
    .install-text-2 {
      width: 150px;
      padding-top: 25px;
      padding-left: 15px;
      padding-right: 70px;
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
    .release-img-2 {
      position: absolute;
      top: -80px;
      left: -105px;
      transform: scale(0.5);
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }
    .btn-install-right {
      align-self: start;
      margin-left: 30px;
      width: 33vw;
      grid-column: 4 / 5;
      grid-row: 3 / 3;
    }

    .install-text-1,
    .install-text-2 {
      h6 {
        margin-left: 10px;
      }
      p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .support {
    height: $support-height;
    padding-right: 1px;
    overflow-y: hidden;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height} + 1px
    );
    h3 {
      width: 110px;
      &::after {
        margin-top: 0;
        margin-left: -100px;
      }
    }
    p {
      font-size: 16px;
      width: 500px;
      text-align: center;
    }
    .support-carousel-mob {
      display: none;
    }

    .support-grid {
      display: grid;
      grid-template-columns: repeat(3, 175px);
      grid-template-rows: 150px 50px 100px;
      background-color: $white;
      grid-column-gap: 75px;
      justify-content: center;
      p {
        text-align: center;
        font-size: 18px;
        width: unset;
      }
      strong {
        text-align: center;
      }
      img {
        margin-top: 0;
      }
    }

    .img-1 {
      transform: scale(0.4);
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .img-caption-1 {
      font-size: 22px;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: unset;
    }
    .blurb-1 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .img-2 {
      transform: scale(0.4);
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .img-caption-2 {
      font-size: 22px;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .blurb-2 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .img-3 {
      align-self: start;
      transform: scale(0.4);
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .img-caption-3 {
      font-size: 22px;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    .blurb-3 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      padding-right: 10px;
    }
  }

  .blog-newsletter {
    display: block;
    overflow-y: visible;
    height: $blog-newsletter-height;
    width: 100%;
    padding-left: 30px;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height}
    );

    .blog-grid {
      height: 100%;
      display: grid;
      grid-template-columns: 400px 325px;
      grid-template-rows: 50px 225px 250px;
      grid-gap: 30px;
      justify-content: center;
      h4 {
        height: 50px;
        width: 500px;
        margin-top: 35px;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -1px;
      }
      .block-post-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .highlighted-post {
        overflow-y: visible;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
      }
      .highlighted-post-title,
      .highlighted-post-subtitle,
      .highlighted-post-author-date {
        height: 30px;
      }

      .highlighted-post-title h1,
      .recent-posts h1 {
        font-size: 18px;
        font-weight: 700;
      }

      .highlighted-post-subtitle h2 {
        font-size: 16px;
        font-weight: 400;
      }

      .recent-post-title h2 {
        font-size: 12px;
        font-weight: 700;
      }

      .highlighted-post-author-date h3,
      .recent-post-author-date h3 {
        width: inherit;
        padding-top: 0;
        font-size: 12px;
        font-style: italic;
        color: $gray-light;
        &::after {
          display: none;
        }
        margin-left: 0 auto;
      }
      .highlighted-post-content {
        height: auto;

        p {
          line-height: 25px;
        }
      }
      .recent-posts {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        a {
          color: $black;
          font-size: 13px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .recent-post {
        padding: 15px;
      }

      a.read-more {
        color: $aqua;
        text-decoration: underline;
        text-transform: uppercase;
      }
      a.blog-archives {
        color: $aqua;
        text-decoration: underline;
        text-transform: capitalize;
        padding-left: 15px;
      }

      .newsletter-signup {
        margin-left: 15px;
        white-space: pre-line;
        grid-column-start: 2;
        grid-row-start: 3;
        h2 {
          font-size: 12px;
          font-weight: 700;
        }
        input {
          margin-bottom: 10px;
          width: clamp(50px, 240px, 300px);
          padding: 8px 0 8px 0;
        }
        input::placeholder {
          color: $gray-light;
          font-style: italic;
          font-size: 12px;
          text-align: center;
        }
        .btn-subscribe {
          width: clamp(50px, 245px, 300px);
        }
      }
    }
  }
  footer {
    height: $total-footer-height;
    overflow-y: visible;
  }

  .footer-main {
    height: $footer-main-height;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height + $blog-newsletter-height}
    );
    .logo {
      height: auto;
    }
  }

  .footer-submenu-mob {
    display: none;
  }

  .footer-sub {
    height: $subfooter-height;
    top: calc(
      #{$header-height + $banner-height + $news-height + $video-height +
        $install-height + $support-height + $blog-newsletter-height +
        $footer-main-height}
    );

    .footer-sub-menu ul {
      margin-left: 20px;
      margin-right: 20px;
    }
    .footer-sub-menu li a {
      font-size: 13px;
    }
    .legal {
      display: block;
    }
  }
}

@media screen and (max-width: 1250px) and (min-width: 993px) {
  $banner-height: 950px;
  $video-height: 450px;

  .banner {
    height: $banner-height;
    grid-template-rows: repeat(6, 15%);
    h1 {
      grid-row: 2 / 5;
      font-size: 60px;
    }
    p {
      padding-top: 75px;
      grid-row: 3 / 6;
    }
    .banner-image {
      grid-row: 1 / 6;
    }
  }
  .news {
    top: calc(#{$header-height + $banner-height / 1.85});
    padding-bottom: 25px;
    .btn-event {
      margin: 0;
    }
  }

  .videos {
    padding-top: 80px;
  }

  .install {
    grid-template-columns: 10px 220px 1fr 5px 220px 0.75fr 0.25fr;
    .release-img-1 {
      transform: scale(0.9);
    }
    .release-img-2 {
      transform: scale(0.6);
      margin-left: -60px;
    }
  }
}

@media screen and (max-width: 1250px) and (min-width: 993px) {
  header #submenu-about ul li {
    margin: 15px 0 0 0;
  }

  header #submenu-about ul li ul li {
    padding-left: 20px;
  }

  .news {
    top: 600px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .banner {
    background-position: 110% 100%;
  }
  .install {
    grid-template-columns: 175px 175px 1% 175px 175px;
  }
  .install .btn-install-left,
  .btn-install-right {
    width: clamp(10vw, 275px, 30vw);
  }
}

@media screen and (max-width: 650px) and (min-width: 501px) {
  .banner h1 {
    font-size: 60px;
    &::after {
      margin-left: 10px;
    }
  }
}
