$header-height: 45px;
$banner-height: 875px;
$news-height: 125px;
$video-height: 425px;
$install-height: 550px;
$support-height: 550px;
$blog-newsletter-height: 550px;
$footer-main-height: 150px;
$subfooter-height: 75px;
$total-footer-height: calc(#{$footer-main-height + $subfooter-height});
